<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewBoard</display-name>
    <servlet-name>NewBoard</servlet-name>
    <servlet-class>kr.or.ddit.board.newBoard.NewBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBoard</servlet-name>
    <url-pattern>/NewBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDetailServlet</display-name>
    <servlet-name>BoardDetailServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDetailServlet</servlet-name>
    <url-pattern>/BoardDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewBoardServlet</display-name>
    <servlet-name>NewBoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.NewBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBoardServlet</servlet-name>
    <url-pattern>/NewBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/BoardUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDelete</display-name>
    <servlet-name>BoardDelete</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDelete</servlet-name>
    <url-pattern>/BoardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardServlet</display-name>
    <servlet-name>AddBoardServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.AddBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardServlet</servlet-name>
    <url-pattern>/AddBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardFileServlet</display-name>
    <servlet-name>BoardFileServlet</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFileServlet</servlet-name>
    <url-pattern>/BoardFileServlet</url-pattern>
  </servlet-mapping>
</web-app>